{{#each this}}
<div> 
    <img class="film-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}} poster"> 
    <div class="film-descr">
        <p class="film-prewiev-title">{{original_title}}</p>
        <p class="film-prewiev-genre">{{genre_ids}} | {{release_date}}</p>
    </div>
</div>
{{/each}}