{{#each this}}
<li class="prewiev-card">
    <img class="film-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}} poster" data-action={{id}} loading="lazy"> 
    <div class="film-descr">
        <p class="film-prewiev-title">{{original_title}}</p>
        <ul class="film-prewiev-genre">
            {{#each genre_ids}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <span class="film-prewiev-date"> | {{release_date}}</span>
        <span class="film-rating isHide">{{vote_average}}</span>
    </div>
</li>
{{/each}}