<div class='modal-one-film-info'>
  <div class='modal-img'>
    {{#if this.poster_path}}
    <img src='https://image.tmdb.org/t/p/w780{{poster_path}}' alt={{title}} class='modal-poster' />
    {{else}}
    <img src="https://static7.depositphotos.com/1021974/739/i/600/depositphotos_7397821-stock-photo-cinema.jpg"
    alt="No poster yet" style="object-fit: contain;"> 
    {{/if}}
  </div>
  <div class='modal-text'>
    <h3 class='modal-name-movie'>{{original_title}}</h3>
    <div class="modal-movie-info">            
      <div  class="modal-title-info">
        <p>Vote / Votes</p>
        <p>Popularity</p>
        <p>Original Title</p>
        <p>Genre</p>
      </div>

      <div class="modal-info">
        <p><span class="number">{{vote_average}}</span> / {{vote_count}}</p>
        <p>{{popularity}}</p>
        <p>{{original_title}}</p>
        <p>{{#each genre_ids}}<span class="modal-genres">{{this}},</span>{{/each}}</p>
      </div>
    </div>

    <h4 class='modal-about'>About</h4>
    <p class='modal-film-about'>{{overview}}</p>

    <div class='modal-button-block'>
      <button
        type='button'
        class='modal-button add-to-watched'
        data-idFilm='{{id}}'
        data-btn='watched'
      >Add to watched</button>
      <button
        type='button'
        class='modal-button add-to-queue'
        data-idFilm='{{id}}'
        data-btn='queue'
      >Add to queue</button>
    </div>
  </div>
</div>